
html {
    overflow-y: scroll;
}

#titletext {
    /* font-family: "Roboto Slab Regular", serif; */
    font-family: "DM Serif Display", serif;
}

#titleonly {
    font-size: 4.75rem;
}

body {
    font-size: 16px;
    line-height: 1.3rem;
}

:root {
    --bg-color: #0000000e;
    /* --txt-color: #0F1016; */
    --txt-color: #051b2e;
    --line-color: #EEE;
    --fn-color: #FFF;
    --ft-txt-color: #051b2e;
    /* --lk-color: #222C42; */
    --lk-color: #124FAA;
    --hover-color: #b31a34;
    --bq-color: #b31a34;
    --tb1-color: #DEE2E6;
    --inline-cd-color: #DDD;
}

header nav {
    text-align: left;
}

footer {
    /* font-family: "DM Serif Display", serif; */
    font-family: "Roboto Regular", serif;
  }

.post-header .meta .date .day {
    font-family: "DM Serif Display", serif;
}
.post-header .meta .date .rest {
    font-family: "DM Serif Display", serif;
}

.post-header h1.title {
    font-family: "DM Serif Display", serif;
    font-weight: bold;
}

.post .title.small {
    /* font-family: "Roboto Regular", serif; */
    font-family: "DM Serif Display", serif;
}

.page-title {
    font-weight: bold;
    font-family: "DM Serif Display", serif;
}
